@font-face {
    font-family: 'Tajwal-local';
    font-display: swap;
    src: local('Tajwal-local'), url(/font/Tajawal-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Ample';
    font-display: swap;
    src: local('Ample'), url(/font/Ample-Regular6_0.otf) format('truetype');
}