@font-face {
  font-family: 'AmpleSoftPro';
  font-display: swap;
  src: local('Ample-Regular'), url(../public/font/AmpleSoftPro.ttf) format('truetype');
}
body{
  width: 100% !important;
}
.lazy-background-image {
  transition: background-image 0.3s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}